name: Actions workflow

on: [push]

jobs:
  run-github-actions:
    runs-on: ubuntu-latest
    steps:
      - name: simple js action
        id: greetings
        uses: actions/hello-world-javascript-action@v1.1
        with:
          who-to-greet: sheeesh
      - name: Print greeting time
        run: echo "${{ steps.greetings.outputs.time }}"
